{#
 # This file is part of the Sensi Yaml GUI Bundle.
 #
 # (c) Michael Ofner <michael@m3byte.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}
{% extends base_template %}

{% block title %}
	SensiYamlGui :: {{ configFile }}
{% endblock %}

{% block notice %}
	{% for notice_level in ['success','error','info', 'warning'] %}
		{% set session_var = 'sonata_flash_' ~ notice_level %}
		{% for flash in app.session.flashbag.get(session_var) %}
			<div class="alert {{ 'alert-' ~ notice_level }}">
				{{ flash|trans([], 'sensi_yaml_gui') }}
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block content %}
	 <h1>{{ "sensi.yamlgui.title.edit"|trans([], 'sensi_yaml_gui') }} :: {{ configFile }}</h1>
	 <div class="sensi-yaml-gui-container">
        <div class="sensi-yamlgui-form-errors">
            {{ form_errors(form) }}
        </div>
        <form action="" method="POST">

            {{ form_rest(form) }}

            <div class="sensi-yamlgui-form-footer">
                <p>
                    <button type="submit" class="sf-button">
                        <span class="border-l">
                            <span class="border-r">
                                <span class="btn-bg">{{ "sensi.yamlgui.button.save"|trans([], 'sensi_yaml_gui') }}</span>
                            </span>
                        </span>
                    </button>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
